<div class="row">
    <h1 style="color:white" id="neon">Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
         <ul style="color:white">

             <li><h1 style="color:white" >Estudio 1</h1><h3 style="color:white">(years)</h3></li>
             <p style="color:white">Lorem ipsum dolor sit amet consectetur,
             adipisicing elit.Laboriosam atque fuga
             asperiores sit,esse debitis illum.
             Laboriosam quos,perspiciatis deserunt sequi
             nulla officiis aspernatur cum,consectetur,
             error veniam excepturi laudantium.
            </p>
        </ul>
         <ul style="color:white">

             <li><h1 style="color:white">Estudio 2</h1><h3 style="color:white">(years)</h3></li>
             <p style="color:white">Lorem ipsum dolor sit amet consectetur,
             adipisicing elit.Laboriosam atque fuga
             asperiores sit,esse debitis illum.
             Laboriosam quos,perspiciatis deserunt sequi
             nulla officiis aspernatur cum,consectetur,
             error veniam excepturi laudantium.
            </p>
        </ul>
         <ul style="color:white">

             <li><h1 style="color:white">Estudio 3</h1><h3 style="color:white">(years)</h3></li>
             <p style="color:white">Lorem ipsum dolor sit amet consectetur,
             adipisicing elit.Laboriosam atque fuga
             asperiores sit,esse debitis illum.
             Laboriosam quos,perspiciatis deserunt sequi
             nulla officiis aspernatur cum,consectetur,
             error veniam excepturi laudantium.
            </p>
         </ul>
    </div>
</div>